.pokemon-image {
    height:100px;
    width:100px;

}
.card{
    cursor: pointer;
    padding-top:20px;
    margin-top: 15px;
}
.poke-card {
    transition: .3s;
}

.poke-card:hover{
    transform:translateY(-5px);  
}

.poke-card:active{
    transform:translateY(-1px); 
}

.pokeCard-type-desc {
    display:inline-block;
    height:10px;

}

.title-type{
    background-color:#64e764;
    padding:5px;
    border-radius: 5px;
}

.title-weakness{
    background-color: #ee90ee;
    padding:5px;
    border-radius: 5px;
}

/* shake card when game is over */
.shakeCard:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }